@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Cardo:ital,wght@0,400;0,700;1,400&family=Chonburi&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kaisei+Opti&display=swap');

:root {
    --font-menu: "Bodoni Moda", serif;
    --font-h1: "Cardo", serif ;
    --font-h2: "EB Garamond", serif ;
    --font-h3: "Cormorant Garamond", serif ;
    --font-h4: "EB Garamond", serif ;
    --font-h5: "EB Garamond", serif ;
    --font-p: "Bona Nova", serif; ;
    --texto: ;
}


/* tema Dark */
:root,
:root[data-theme='dark'] { 
    
    --cor-fundo: #000000;
    --cor-texto-padrao: #ffffff;
    --cor-borda: #ffffff;
    --cor-titulo: #ffffff;
    --cor-subtitulo: #43e4e4;
    --cor-texto: #ffffff;
    --cor-hover: #43e4e4;
    --cor--menu: #7b7b7b;
    --cor-link: #ffffff; 
    --cor-icone: #ffffff;
    --icone-hover: #a6e2e4;
    --trocar-tema: #ffffff;
    --cor-btn: #ffffff;
    --fundo-reverse: #fff;
    --cor-h3: #43e4e4;
    --cor-duolingo: lightgreen;
}

/* tema Light */
:root[data-theme='light'] {

    --cor-fundo: #ffffff;
    --cor-texto-padrao:  #111217;
    --cor-borda: #111217;
    --cor-titulo: #111217;
    --cor-subtitulo: #00039b;
    --cor-texto: #111217;
    --cor-hover: #00039b;
    --cor--menu: #999999;
    --cor-link: #dfe0e6; 
    --cor-icone: #111217;
    --icone-hover: #45abe6;
    --trocar-tema: #297edf;
    --cor-btn: #111217;
    --fundo-reverse: #111217;
    --cor-h3: #00039b;
    --cor-duolingo: darkgreen;
}


/* Reset do navegador */
* {
    margin: 0;
    /* margem */
    padding: 0;
    /* preenchimento */
    /* list-style: none; */
    box-sizing: border-box;
}

body {
    background: var(--cor-fundo);
    /* cor Fundo */
    /* HEXADECIMAL */
    color: var(--cor-texto-padrao);
}

a {
    text-decoration: none;
    color: var(--cor--menu);
    font-family: var(--font-menu) ;
}

a:hover {
    color: var(--cor-hover);
}

i {
    color: var();
}

h1 {
    font-size: 40px;
    color: var(--cor-titulo);
    text-transform: uppercase;
    font-weight: 100;
    font-family: var(--font-h1);
}

b {
    font-weight: bold;
    text-shadow: 0px 0px 2px;
}

p, span, li {
    font-size: 16px;
}

p {
    text-align: justify;
    font-family: var(--font-p);
}

/* 
ID = # 
Class = ( . ) ponto */
/* estrutura do menu */
#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    z-index: 2;
}

.header-logo .logo {
    width: 100%;
    height: 27px;
}
.header-logo .logo:hover{
    height: 34px;
    transition: 1s;
}

.trocar-tema {
    display: flex;
    justify-content: flex-end;
}

#trocarTema {
    font-size: 22px;
    color: var(--trocar-tema);
    cursor: pointer;
    /* transition: ; */
}
#trocarTema:hover{ 
    font-size: 27px;
    transition: 1s;
}

.menu {
    display: flex;
    align-items: center;
    background: transparent;
    gap: 15px;
    list-style: none;
}

.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-mobile {
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--cor-borda);
    background: var(--cor-fundo);
    z-index: 2;
    
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 8px 15px;
    color: var(--cor-link);
    
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
    color: var(--cor-hover);
    /* font-size: 18px; */
}

.menu-icon {
    font-size: 22px;
    color: var(--cor-icone);
}

.menu-social .menu-icon:hover {
    color: var(--icone-hover);
    text-shadow: 0px 0px 8px;
}

.menu-text {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--cor--menu);
}

.header-nav {
    display: none;
}

.menu-principal {
    gap: 16px;
}

.menu-social {
    gap: 22px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 18px;
    cursor: pointer;
    /* gap: 5px; */
    /* width: ; */
    background: transparent;
    border: none;
    color: var(--cor-btn);
}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
    border-color: var(--cor-subtitulo);
    box-shadow: 0px 0px 10px;
    
}

.btn span,
.btn i {
    font-size: 18px;
    text-transform: uppercase;
}

.btn-primary {
    border: 1px solid var(--cor-btn);
    border-radius: 10px;
}

#home {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;
    box-shadow: 0px 0px 15px;
    height: auto;
}
.video  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    object-position: center;
}

#home,
.objetivos,
.sobre,
.contato {
    padding: 40px 16px;
}

.objetivos {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h2{
    text-align: center;
    margin-top: 0px ;
    margin-bottom: 30px;
    font-family: var(--font-h2);
    text-shadow: 0px 0px 2px;
}
.objetivos-container { 
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.img-card {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 15px #7b7b7b;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.card-title {
    font-size: 32px;
    color: var(--cor-subtitulo);
    font-weight: 100;
    font-family: var(--font-h3);
    text-shadow: 0px 0px 2px;
}
.card-descricao{
    color: var(--cor-texto);
    font-size: 20px;
    font-family: var(--texto);
}

.card-lista {
    font-family: var(--texto);
    margin-bottom: 30px;
}

.card-lista .card-item{
    font-size: 18px;
    color: var(--cor-texto);
    margin-left: 15px ;
    margin: 10px;
}

/* .card-lista .card-item:nth-child(3){
    margin-bottom: 30px;
} */

.card-button, .card-descricao{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.card-button .btn{
    padding: 8px 20px;
    margin-top: 15px;
}

.card-button .btn span{
    color: var(--cor-btn);
    font-family: var(--texto);
    font-size: 20px;
}
.descricao-button .btn-primary .bi-linkedin{
    margin-left: 10px;
    color: #297edf;
}

.card-button .btn i{
    color: var(--cor-subtitulo);
}
.card-button .btn span:hover{
    color: var(--cor-subtitulo);
}


/* .sobre-descricao h2{
    color: var(--cor-subtitulo);
} */

.sobre {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sobre-content1, .sobre-content2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}
.sobre-logo{
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 100%;
    box-shadow: 0px 0px 10px;
}
.sobre-descricao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}

.sobre-icones {
    display: flex;
    align-items: center;
    gap: 10px;
}
.sobre-icones i{
    font-size: 18px;
    color: var(--cor-texto);
}

.sobre-content2 .col1, .sobre-content2 .col2{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
}
.sobre-content2 .col1 .row1,
.sobre-content2 .col1 .row2{
    display: flex;
    flex-direction: column;
}
h3{
    font-size: 25px;
    font-family: var(--font-h3);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: var(--cor-h3);
}
h4{
    font-size: 20px;
    font-family: var(--font-h4);
    font-weight: 100;
    margin-top: 10px;
    text-align: left;
}
h5 {
    font-size: 18px;
    font-family: var(--font-h5);
    font-weight: 400;
    margin-top: 2px;
    text-align: left;
}

.accordion-header {
    width: 100%;
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: 1px solid var(--cor--menu);
    text-align: left;
    color: var(--cor-texto);
    cursor: pointer;
    transition: ease-in-out .3s;
}
.accordion-body {
    display: none ;
    padding: 18px;
    text-align: justify;
    align-items: flex-start;
    flex-direction: column;
    border: 0.1px solid var(--cor--menu);
    font-family: var(--font-p);
    font-size: 17px;
}
.duolingo {
    color: var(--cor-duolingo);
    font-family: var(--font-p);
}
.duolingo:hover{
    color: var(--cor-duolingo);
}
.accordion-item.active .accordion-body {
    display: flex;
    
}

.accordion-item.active .bi-caret-down-square-fill {
    transform: rotate(180deg);
    transition: 1s;
}
.accordion-item {
    width: 650px;
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 16px;
    border-top: 1px solid var(--cor--menu) ;
    border-bottom: 1px solid var(--cor--menu);
}
.contato p{
    text-align: center;
}
.contato .email{
    margin-bottom: 60px;
}

footer p {
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
}
footer a{
    color: rgb(134, 134, 134);
}
.form-contato{
    background: var(--fundo-reverse);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px;
    width: 90%;
    max-width: 800px;
}
.form-contato form{
    display: flex;
    flex-direction: column; 
    gap: 15px;
}
.form-label {
    color: var(--cor-fundo); 
    font-weight: bold; 
    font-size: 14px; 
    margin-bottom: 5px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-input, .form-textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-fundo);
    font-size: 13px;
    margin-top: 5px;
}
.form-group .form-input:focus,
.form-group .form-textarea:focus {
    border: red;
    outline: invert;
    border-radius: none;
}
.form-input-file{
    margin-top: 8px;
    font-size: 15px;
}
.form-textarea{
    padding: 5px;
}
.form-button {
    display: flex ;
    width: 100px;
    padding: 4px;
    cursor: pointer;
    font-size: 20px;
    background: #cecece;
}
.form-button:hover{
    background-color: rgb(213, 255, 154);
    box-shadow: 0px 0px 10px rgb(54, 90, 0);
}

.btn-form{
    display: flex;
    justify-content: center;
}
.btn-form .form-button{
    justify-content: center;
}
.email .menu-icon:hover {
    color: var(--cor-hover);
}

.btn-twitch{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 18px;
    cursor: pointer;
    /* gap: 5px; */
    /* width: ; */
    background: transparent;
    color: var(--cor-subtitulo) ;
    border: 1px solid var(--cor-subtitulo);
    border-radius: 10px;
    transform: scale(1.05);
    transition: ease-in-out .3s;
    border-color: var(--cor-subtitulo);
    box-shadow: 0px 0px 10px;
}
.link-twitch:hover{
    color: var(--cor-subtitulo);
    font-size: 20px;
}
/* logo */

html[data-theme='dark'] .logo {
    filter: invert(1);
}
html{
    scroll-behavior: smooth;
}


/*  Responsivo  */

@media (min-width: 576px) {
    h1 {
        font-size: 48px;
        margin-bottom: 25px;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 25px;
    }
    .video{
        width:100% ;
        height: auto;
    }
}

@media (min-width: 768px) {
    /* comprimento até  */

    #header {
        position: fixed;
        border-bottom: 1px solid var(--cor-borda);
        padding: 16px 96px;
        background: var(--cor-fundo);
    }

    .nav-mobile {
        display: none;
    }

    .header-nav {
        display: flex;
    }

    .header-nav,
    .trocar-tema {
        min-width: 30%;
    }

    #home,
    .objetivos,
    .sobre{
        padding: 128px 96px 64px 96px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 64px;
        margin-bottom: 30px;
    }
    h2{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .contato {
        padding: 90px;
    }
    .contato p{
        width: 80%;
    }
    .video{
        width:100% ;
        height: auto;
    }
}



/* Fim 768px */
@media (max-width: 768px) {
    h2 {
        font-size: 50px;
    }
    .accordion-item{
        width: 90vw;
    }
    footer {
        margin-bottom: 80px;
        padding: 20px;
    }
    .video{
        width:100% ;
        height: auto;
    }
}


@media (min-width: 992px) {
    .projeto-card{
        flex-direction: row; 
    }
    .card-reverse{
        flex-direction: row-reverse;
    }
    .img-card{
        width: 35%;
    }
    h1 {
        font-size: 80px;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 48px;
        margin-bottom: 35px;
    }
    .sobre {
        gap: 80px
    }
    .sobre-content1, .sobre-content2{
        display: grid;
        grid-template-columns: 35% 65%;
        justify-content: flex start;
        align-items: flex-start;
        gap: 64px;
    }
    .video{
        width:100% ;
        height: auto;
    }
}

/* Fim 992 */

@media (min-width: 1200px) {
    #home {
        padding: 60px 96px 32px;
    }

    .main-content .btn {
        width: auto;
    }
    p, span, li {
        font-size: 20px;
    }
    h1 {
        font-size: 96px;
        margin-bottom: 50px;
    }
    h2{
        font-size: 56px;
        margin-bottom: 40px;
    }
}

/*  fim 1200px */

@media (min-width: 1400px) {

    .header {
        padding: 200px 240px 32px;
    }
    h1 {
        font-size: 100px;
        /* text-align: justify; */
    }
    h2{
        font-size: 80px;
    }
    .objetivos, .sobre{
        padding: 160px 240px 64px;
    }
}
/* fim 1400px */